div.match.card {
  padding: 2rem;
}

div.match.card .card-header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

div.match.card .card-body table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

div.match.card .card-body table th,
div.match.card .card-body table td {
  padding: 0.5rem;
}

div.match.card .card-body table th {
  background-color: lightblue;
  border: 1px solid lightblue;
}

div.match.card .card-body table td {
  border-right: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  text-align: right;
}

div.match.card .card-body .you {
  color: royalblue;
}
